@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .container{
        max-height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        width: 100vw;
        
    }
}